/* Reserve Table */
.reserve table, th { border: solid 1px lightgray; height: 40px; text-align: center; }
.reserve table { border-right: 0; }
.reserve tr { width: 100%; height: 100%; border-bottom: solid 1px lightgray; }
.reserve td { height: 40px; text-align: center; }

/* Reserve Button */
button { border: 0; }
.btn-box { height: 100%; }
.btn-box button { width: 100%; height: 100%; display: block; }
.non-selected { background-color: white; border-right: solid 1px lightgray; transition: all 0.2s linear; }
.non-selected:hover { cursor: pointer; background-color: lightskyblue; }
.selected { background-color: lightskyblue; }
.red { background-color: indianred; }
.orange { background-color: darkorange; }
.yellow { background-color: lightgoldenrodyellow; }
.green { background-color: darkseagreen; }
.blue { background-color: cornflowerblue; }
.navy { background-color: midnightblue; }
.purple { background-color: rebeccapurple; }

/* My Reserve */
.empty {
    text-align: center;
    padding: 10%;
    font-size: 15px;
    font-weight: bold;
    color: gray;
}